{% extends './layouts/default.html' %} {% block title %}{{ title }}{% endblock %} {% block content %}

    <div class="row-fluid coming bgimg">
        <div class="span12">
            <h2 class="brand" href="#">Slashed!</h2>
            <p>
                Discover private sales from your coveted fashion brands in one place.
            </p>

            <form class="special">
            <input type="email" class="js-email" placeholder="Email" value="" />
            <button class="btn btn-alert btn-large js-submit" type="submit">
                Notify me</button>
            </form>
            <span class="error hide">Enter valid email</span>

            <span class="form-info white">We hate spam. Trust us!</span>
        </div>
        <!--/span-->

    </div>
    <!-- End Coming Bgimg-->

{% endblock %}
